.home {
    flex: 4;
    margin-top: 10px;
    // margin: 10px;
    // box-sizing: border-box;
    // border: 0px;
    // padding: 0px;
    // width: 100%;
    // box-shadow: rgb(40, 40, 40) 0px 0px 1px;
    // border-radius: 5px;
    // background-color: rgb(240, 240, 255);
}

.homeWidgets {
    display: flex;
    margin: 20px;
}
