@use './app';
@use './pages/home';
@use './components/chart';
@use './components/featuredInfo';
@use './components/sidebar';
@use './components/topbar';
@use './components/widgetLarge';
@use './components/widgetSmall';

@font-face {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/Source_Sans_Pro/SourceSansPro-Black.ttf')
        format('truetype');
}

body {
    margin: 0%;
}
